{{> navbar}}
<div class="container mt-5 text-center">
  <h3 class="">Add New Game</h3>
  <form id="addGame" action="/games" method="post" class="">
    <div class="form-row justify-content-center">
      <div class="form-group col-auto">
        <label for="homeTeam">Home Team</label>
        <select type="text" name="ID_teams_home" required class="form-control" id="homeTeam" placeholder="Team">
          {{#each teams}}
          {{!-- pass in teams --}}
          <option value="{{teams_ID}}">{{team_name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group col-auto">
        <label for="guestTeam">Guest Team</label>
        <select type="text" name="ID_teams_guest" required class="form-control" id="guestTeam" placeholder="Team">
          {{#each teams}}
          {{!-- pass in teams --}}
          <option value="{{teams_ID}}">{{team_name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group col-auto">
        <label for="homeScore">Home Score</label>
        <input type="number" min="0" name="home_score" required class="form-control" id="homeScore" placeholder="0">
      </div>
      <div class="form-group col-auto">
        <label for="guestScore">Guest Score</label>
        <input type="number" min="0" name="guest_score" required class="form-control" id="guestScore" placeholder="0">
      </div>
      {{!-- <div class="form-group col-auto">
        <label for="gameStadium">Stadium</label>
        <select type="text" class="form-control" id="gameStadium" placeholder="Somewhere">
          {{#each stadiums}}m
          <option value="{{stadiums_ID}}">{{stadium_name}}</option>
          {{/each}}
          <option value="0">STADIUM NOT LISTED</option>
        </select>
      </div> --}}
      <div class="form-group col-auto">
        <label for="gameDate">Date</label>
        <input type="date" min="1920-10-03" name="game_date" required class="form-control" id="gameDate" placeholder="2019-01-01">
      </div>
    </div>
    <button type="" onclick="differentTeams(homeTeam, guestTeam)" value="insertGame" class="btn btn-success" id="insertGame">Insert Game</button>
    <button type="" value="searchGames" onclick="doesThisWork()"class="btn btn-success" id="searchGames">Search Games</button>

  </form>
</div>
<div class="container mt-5" id="">
  <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th>Home Team</th>
          <th>Guest Team</th>
          <th>Home Score</th>
          <th>Guest Score</th>
          {{!-- <th>Stadium</th> --}}
          <th>Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each games}}
        <tr>
          {{!-- games will have  --}}
          <td>{{home_team}}</td>
          <td>{{guest_team}}</td>
          <td>{{home_score}}</td>
          <td>{{guest_score}}</td>
          {{!-- <td>{{this}}</td> --}}
          <td>{{game_date}}</td>
          <td class="text-center"><button onclick="updateGame()" class="button btn-warning" id="updateGame_{{games_ID}}" ><i class="fa fa-refresh" aria-hidden="true"></i></button></td>
          <td class="text-center"><button onclick="deleteGame()"class="button btn-danger" id="deleteGame_{{games_ID}}" onclick="doesThisWork({{games_ID}})"><i class="fas fa-trash" aria-hidden="true"></i></button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>